.blogs{

}

.item{
   border: 1px solid #0000005e;
   height: 100%;
   border-radius: .6em;
   font-size: 1em;
   overflow: hidden;
   padding: 0;
   display: flex;
   align-items: start;
   width: 100%;
   flex-direction: column;
   justify-content: start;
}

.item img{
    border-radius: .6em;
}

.item .content{
    padding: 1em 1.25em;
    display: flex;
    align-items: start;
    gap: .5em;
    flex-direction: column;
}

.item .content span{
    font-size: 1em;
}

.item .content h4{
    font-size: 1.5em;
}