.detail {
  height: 100%;
  font-size: var(--font);
  margin-bottom: 3rem;
  position: relative;
  font-size: var(--font);
}

.detail .image_content{
  position: sticky;
  top: 80px;
}

.detail .main_image {
  width: 100%;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
}

.detail .swiper_slide{
  height: 100% !important;
}

.wishlist {
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.5em;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  display: flex;
  z-index: 9;
  justify-content: center;
  align-items: center;
}

.wishlist.active {
  color: rgb(255, 49, 49);
}

.detail .sub_image_list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detail .inner_sub_list {
  height: 100%;
  /* height: fit-content; */
  margin-bottom: 1em;
 
  /* transform: translateY(); */
}

.detail .sub_image {
  width: 100%;
  /* flex: 1 0 4em; */
  overflow: hidden;
  /* height: 7em; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail .sub_image img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
}

.detail .sub_image.active {
  border: 2px solid var(--text-color);
  padding: 2px;
}

.detail .btn {
  font-size: 1.3em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--text-color);
  color: var(--bg-color);
  /* padding: .7em; */
  margin-bottom: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--text-color);
}

.detail .quantity{
  font-size: 1.2em;
}

.detail .btn.disabled {
  background: none;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  cursor: not-allowed;
}

.detail .mainSwiper{
  position: relative;
}

@media (max-width: 1199px) {
  .detail{
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .detail {
    font-size: 0.9rem;
  }
  /* .detail .inner_sub_list {
    height: 43vw;
    width: 100%;
  } */
  .detail .sub_image_list{
    width: 100%;
  }
}

@media (max-width: 992px) {
  .detail .main_image {
    margin-bottom: 20px;
  }
  .detail .sub_image_list {
    flex-direction: row;
    padding: 0 40px;
    position: relative;
  }

  .detail .inner_sub_list {
    width: 100%;
    margin-bottom: 0px;
    height: fit-content;
  }

  .detail .sub_image {
    margin: 0 10px;
    width: 6em;
  }

  .detail .btn.left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transform: rotate(-90deg);
  }
  .detail .btn.right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transform: rotate(-90deg);
  }
  .swiper_slide {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
}

@media (max-width: 599px) {
  .detail {
    font-size: 0.8rem;
  }
}

@media (max-width: 499px) {
  .detail .sub_image_list {
    padding: 0 35px;
    padding-left: 30px;
  }

  .detail .btn {
    font-size: 1.2em;
    width: 2em;
    height: 2em;
  }
  .detail .sub_image {
    margin: 0 10px;
    width: 5em;
  }
}

/* content csss herhehr  */

.content {
  font-size: 1.1em;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.9em;
  padding-left: 2em;
}

.content h1 {
  font-size: 2.4em;
}

.content .rating {
  font-size: 1.15em;
  display: flex;
  font-weight: 600;
  align-items: center;
}

.content .rating svg {
  margin-right: 0.2em;
  font-size: 1.2em;
}

.content .price {
  font-size: 2em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.content .price span:last-child {
  color: #aaa !important;
  font-weight: 400;
  font-size: 0.7em;
  text-decoration: line-through;
}

.content .desc {
  font-size: 1em;
}

.content .desc h5 {
  font-size: 1.15em;
  margin-bottom: 8px !important;
}

.content .desc p {
  color: #111;
  margin-bottom: 8px !important;
  font-size: .9em;
  letter-spacing: 0.5px;
}

.content .desc p:last-child {
  margin-bottom: 0px !important;
}

.content .cta {
  display: flex;
  align-items: center;
  gap: 0.4em;
  width: 100%;
}

.content .button {
  width: 48%;
  padding: 0.7em;
  line-height: 100%;
  font-size: 1.1em;
  background-color: var(--accent2-color);
  color: var(--bg-color);
  font-weight: 500;
  transition: all 0.5s ease;
  border: 2px solid rgb(0,0,0,0.1);
}

.content .button.add {
  background: none;
  color: var(--text-color);
}

.content .button.disabled{
  opacity: .8;
  cursor: not-allowed;
}

.content .button:hover {
  background-color: var(--accent2-color);
  color: var(--bg-color);
}

@media (max-width: 992px) {
  .content {
    margin-top: 1rem;
    padding-left: 0px !important;
  }
}

@media (max-width: 768px) {
  .content {
    font-size: 0.9rem;
  }
}

@media (max-width: 549px) {
  .content h1 {
    font-size: 2em;
  }
}

@media (max-width: 449px) {
  .content h1 {
    font-size: 2em;
  }
  .content .desc p {
    font-size: 0.9em;
  }
}

@media (max-width: 399px) {
  .content h1 {
    font-size: 1.75em;
  }
}


.productDetails {
  margin-top: 0.2em;
  font-size: 1em;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1em;
}

.productDetails h4 {
  font-size: 1.2em;
  margin-bottom: .5em !important;
}

.productDetails p, .productDetails ul {
  color: #111;
  margin-bottom: 0px !important;
}

.productDetails ul {
  padding-left: 1.2em;
}

.productDetails ul li {
  list-style: disc;
}

.productDetails .colorOptions label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.productDetails .colorOptions input[type="checkbox"] {
  margin-right: 0.4em;
}

.productDetails .colorOptions {
  display: flex;
  gap: .5em;
  align-items: center;
}

.productDetails .colorCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  border: 2px solid #ddd;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top:0.5em;
  margin-bottom:0.5em;
}

.productDetails .colorCircle:hover {
  border-color: var(--accent2-color); 
}

.productDetails .colorCircle.selected {
  border-color:  var(--text-color);
  padding: .1em;
  border-width: 2px ; /* Slightly increase the size of selected circle */
}

.productDetails .innerCircle{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.productDetails .colorCircle:focus {
  border-width: 10px;
}

.info {
  margin-left: 0.2em; /* Adds space between the label and the value */
  margin-right: 1em; /* Adds space between the values */
}
