.login {
  height: 100%;
  width: 100%;
  font-size: var(--font);
}

.login .image {
  height: 100%;
  width: 100%;
  background-color: #eee;
  overflow: hidden;
}

.login .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login .login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1em;
  padding-top: 3em;
  width: 100%;
}

.login .login_container h1 {
  margin-bottom: 10px !important;
  font-size: 3em;
  font-weight: bold;
  color: var(--text-color);
}

.login .login_container .para {
  font-size: 1.1em;
  color: var(--text2-color);
  font-weight: 500;
}

.login .login_container form {
  margin-top: 3em;
  margin-bottom: 5em;
  width: 70%;
}

.login .login_container a {
  font-size: 1em;
  font-weight: bold;
  color: var(--text-color) !important;
}

.login .login_container .button {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent2-color);
  color: var(--bg-color);
  font-size: 1.2em;
  padding: 0.6em;
  font-weight: 600;
}

@media (max-width: 992px) {
  .login .login_container {
    font-size: 0.9rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
  }
  .login .login_container form {
    margin-top: 30px;
    margin-bottom: 40px;
  }


}

@media (max-width: 768px) {
  .login .login_container form {
    width: 80%;
  }
}

@media (max-width: 549px) {
  .login .login_container form {
    width: 90%;
  }
  .login .login_container h1 {
    font-size: 2.5em;
  }
}
