.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: var(--text-color);
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.modal_backdrop.active {
  opacity: 0.7;
  pointer-events: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: calc(var(--font) * var(--width));
  width: 90%;
  height: fit-content;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  z-index: 999999;
  font-size: var(--font);
  display: none;
  padding: 3rem 2rem;
}

.modal.active {
  display: flex; /* Show modal when active */
  justify-content: center;
  align-items: start;
  animation: slide-in 0.5s ease forwards; /* Apply slide-in animation */
}

.modal.closing {
  animation: slide-out 0.5s ease forwards; /* Apply slide-out animation on close */
}

/* Opening animation */
@keyframes slide-in {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Closing animation */
@keyframes slide-out {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

.modal .icon {
  position: absolute;
  right: 5%;
  top: 3%;
  background-color: var(--gray-color);
  color: var(--text-color) !important;
  width: 2em;
  height: 2em;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.4em;
}
.content .content_icon {
  background-color: rgb(233, 245, 233);
  width: 2.2em;
  height: 2.2em;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-bottom: 0.3em;
  color: var(--accent2-color);
}

.content h3 {
  font-size: 2.1em;
  font-weight: bold;
}

.content p {
  font-size: 1em;
}

.content span {
  font-size: 1.1em;
  font-weight: bold;
}


.content form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 2em 0;
  padding-bottom: 0px !important;
  margin-top: 1.3em;
  position: relative;
}

.content form::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 1px;
  width: 75%;
  background-color: #aaa;
}

.content .otpInputs {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.content .otpInputs .otpInput {
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8em;
  text-align: center;
  color: var(--text-color);
  width: 2.5em !important;
  border: 1.5px solid #999;
  color: var(--text-color);
  outline: none;
}

.content .otpInputs .otpInput::-webkit-outer-spin-button,
.content .otpInputs .otpInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input controls in Firefox */
.content .otpInputs .otpInput {
  -moz-appearance: textfield;
}

.submitBtn{
  background-color: var(--accent2-color);
  font-size: 1.1em;
  color: var(--bg-color);
  line-height: 100%;
  padding: .8em 2em;
  font-weight: 500;
}

@media (max-width: 599px) {
  .modal{
    padding: 2rem 2rem;
  }
}