.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: var(--font);
  width: 100%;
}

.thank_you_container {
  flex: 1;
}

.thank_you_container h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: left;
}

.thank_you_container p {
  font-size: 1em;
  margin-bottom: 20px;
  text-align: left;
}

.thank_you_container_below {
  font-size: 1em;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 10px;
  /* border-bottom-width: 2px; */
}

.billing_address {
  margin-top: 30px;
}

.billing_address h3 {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.billing_address p {
  margin: 2px 0;
  margin-top: 6px;
}

.track_button {
  background-color: #ff7043;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.summary_container {
  flex: 1;
  background-color: var(--accent-color);
  padding: 20px;
  border-radius: 1rem;
  width: 100%;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.summary_container h2 {
  /* text-align: center; */
  font-size: 2rem;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.order_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom-width: 2px;
  padding-bottom: 20px;
  border-style: dashed;
}

.order_details p {
  display: flex;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 15px;
}

.content_upper {
  display: flex;
  flex-direction: column;
}

.content_p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  margin-top: 10px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  /* border-bottom-color: #ff7043; */
  /* padding-bottom:10px; */
  padding: 15px 0;
  border-bottom-width: 2px;
}

.items h5{
  font-size: 1.2em;
  font-weight: 600;
  max-width: 30ch; /* Limit text width to 15 characters */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add '...' for truncated text */
}

.item_image {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}

.item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total p,
.total h3 {
  font-size: 1rem;
  margin: 5px 0;
}

.total h3 {
  font-weight: bold;
  
}

.button {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  background-color: var(--accent2-color) !important;
  /* width: 100%; */
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  padding: 0.85em;
  margin-top:30px !important;
  color: var(--bg-color) !important;
  transition: all 0.5s ease;
}

.order_total {
  /* margin-top:2rem; */
  border-top-width: 2px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total_text {
  font-size: 20px;
}

@media (max-width: 992px) {
  .billing_address {
    margin-top: 0px;
  }
  .billing_address h3 {
    padding-bottom: 0px;
  }
  .items h5{
    max-width: 24ch; /* Limit text width to 15 characters */
  }
  .thank_you_container h1{
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  .items h5{
    max-width: 15ch; /* Limit text width to 15 characters */
  }
}
