.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--accent-color);
  padding: 1.5rem;
  padding-right: 0px !important;
  font-size: var(--font);
}

.container h4{
  font-size: 2em;
  margin-bottom: .5em !important;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tab {
  padding: 0.5rem 1rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.tab.active {
  background: #007aff;
  color: #fff;
}

.content {
  flex: 3;
}

.sorting {
  margin-bottom: 1rem;
}

.sorting select {
  padding: 0.5rem;
  border-radius: 5px;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review_card {
  background: var(--bg-color);
  /* border: 1px solid #ddd; */
  padding: 1rem;
  position: relative;
  border: 2px solid rgb(0, 0, 0,0.1);
}

.user_info {
  display: flex;
  gap: 1em;
}

.user_info h6{
  font-size: 1.2em;
  font-weight: 600;
}

.user_info span{
  font-size: .9em;
}

.profile_picture {
  width: 3em;
  height: 3em;
  background: #ddd;
  border-radius: 50%;
}


.review_content {
  margin-top: 0.5rem;
}

.rating {
  font-size: 1.3em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .2em;
}

.actions span {
  margin-right: 1rem;
  cursor: pointer;
}

.reply {
  margin-left: 2rem;
  padding: 0.5rem;
  border-left: 2px solid #ddd;
}

.summary {
  flex: 1;
  background: var(--bg-color);
  border: 2px solid rgb(0, 0, 0,0.1);
  padding: 1rem;
}

.summary h3{
  font-size: 2.5em;
  font-weight: bold;
}
.name_sec{
  width: 60%;
  overflow: hidden;
}
.stars {
  color: gold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 2px;
}

.distribution_row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.progress {
  flex: 1;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.performance_box {
  position: absolute;
  top: 10px;
  right: 10px;
}
.performance {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: auto;
  height: auto;
}
.rating_box {
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 1.2em;
}
.progress div {
  height: 100%;
  background: gold;
}
.see_more{
  margin-top: 1em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.all_review {
  border-radius: 10px;
  display: flex;


  justify-content: center;
  padding: 0 10px;
}

.all_review a {
  
  font-size: 1.1em;
}
.all_review a:hover{
  text-decoration: underline !important;
  cursor: pointer;
} 


.give_review button{
  color: black;
  font-weight: 500;
  border: 1px solid var(--text-color);
  border-radius: 1.5em;
  background-color: white;
  padding: .4em 2em;
  margin-top: .5em;
}

.give_review button:hover{
  background-color: rgb(0, 0, 0);
  transition: background-color 0.5s ease;
  color: white;
}

@media (max-width: 768px) {
  .all_review button {
    color: black;
    padding: .8em 1.2em;
    border-radius: 1.5em;
    font-size: 1em;
  }
  .container {
    padding: 1rem;
  }
}