.section {
  font-size: var(--font);
  margin-bottom: 2rem;
}
.section .image {
  width: 100%;
  overflow: hidden;
  border-radius: 2em;
  margin-right: 1em;
  height: 85%;
}

.section .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section h2 {
  font-size: 2em;
}

.section .item {
  height: fit-content;
  font-size: 1em;
}

.section .item h4 {
  font-size: 1.3em;
  font-size: 500;
  max-width: 22ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}

.section .item .price {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--text2-color);
}

.section .item .image {
  margin-top: 10px;
  height: 20em;
  max-width: 100%;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--gray-color);
  margin-bottom: 0.5em;
}

.section .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.section .item .image:hover img {
  transform: scale(1.1);
}

.section .item .btn {
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-radius: 2em;
  background-color: var(--gray-color);
  padding: 0.45em;
  color: var(--text-color);
  transition: all 0.5s ease;
}

.section .item .btn.active {
  background-color: var(--accent2-color);
  color: var(--bg-color);
}

.section .item .btn:hover {
  background-color: var(--accent2-color);
  color: var(--bg-color);
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.8em;
  font-size: 1em;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.btns .btn {
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  border-radius: 2em;
  background-color: var(--gray-color);
  padding: 0.45em;
  width: 22%;
  color: var(--text-color);
  transition: all 0.5s ease;
}

.btns .btn:hover {
  background-color: var(--accent2-color);
  color: var(--bg-color);
}

.btns .btn.active {
  color: var(--bg-color);
  background-color: var(--accent2-color);
}

@media (max-width: 992px) {
  .section .image {
    border-radius: 1em;
    margin-right: 0px;
    height: 95%;
    height: 500px;
    margin-bottom: 20px;
  }

  .section .item .image {
    height: 270px;
  }

  .section .item {
    font-size: 0.9rem;
  }

  .section h2 {
    font-size: 2rem;
  }

  .btns {
    gap: 10px;
    font-size: 0.9rem;
  }

  .btns .btn {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .section h2 {
    font-size: 1.7rem;
  }
  .section .image {
    height: 400px;
  }
}

@media (max-width: 599px) {
  .section .item .image {
    height: 150px;
  }
  .section .item {
    font-size: 0.9em;
  }
  .section .item h4 {
    font-size: 1.2em;
    max-width: 16ch;
  }
}

@media (max-width: 499px) {
  .btns .btn {
    font-size: 0.9em;
    width: 150px;
  }
}
