.fixed_content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.fixed_content::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  opacity: .5;
  z-index: 1;
}

.fixed_content.active{
    display: flex;
}

.container {
  font-size: var(--font);
  position: relative;
  z-index: 9;
  height: fit-content;
  max-width: 70em;
  background-color: var(--bg-color);
  border-radius: 1em;
  padding: 2em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.fixed_content.active .container {
  display: flex;
  animation: slideUp 1.5s linear forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.container img {
  border-radius: 0.5em;
}

.container h2 {
  font-family: "Roboto Serif", serif;
  font-size: 2.2em;
  font-weight: bold;
}
.container .image{
    width: 100%;
    height: 100%;
}

.container .content {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.4em;
}

.container .close {
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: 1.3em;
  padding: 0.6em;
  padding: 0.4em;
  background-color: var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.5s ease;
}

.container .close:hover {
  background-color: var(--accent2-color);
  color: var(--bg-color);
}

.container p {
  font-size: 1em;
}

.container .content .button {
  font-size: 1em;
  padding: 0.6em 2.5em;
  border-radius: 0.4em;
  background-color: var(--accent2-color);
  color: var(--bg-color) !important;
  margin-bottom: 1em;
  margin-top: 0.3em !important;
  border: 1px solid var(--accent2-color);
  transition: all 0.5s ease;
  outline: none;
}

.container .content .button:hover {
  background-color: var(--bg-color);
  color: var(--accent2-color) !important;
}

.container .content .social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container .content .social .icon {
  font-size: 1.3em;
  padding: 0.6em;
  padding: 0.4em;
  background-color: var(--accent2-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--bg-color) !important;
  cursor: pointer;
  transition: all 0.5s ease;
}

.container .content .social .icon:hover {
  background-color: var(--accent2-color);
}

@media (max-width: 1199px) {
    .container{
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .container{
        max-width: 80%;
        font-size: .7em;
    }
}

@media (max-width: 768px) {
    .container .image{
        width: 100%;
        height: 20em;
        overflow: hidden;
    }
    .container .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 599px) {
    .container{
        max-width: 85%;
        font-size: .6em;
    }
}
