.wishlist_container {
  padding: 20px;
}

.wishlist_heading {
  font-size: 1.3rem;
  /* font-size: var(--font); */
  font-weight: bold;
}

.item {
  border: 1px solid rgb(0,0,0,0.1);
  padding: 1rem;
  font-size: var(--font);
}
.item h4 {
  font-size: 1.3em; /* Ensure this fits your design */
  max-width: 90%; /* Limit text width to 15 characters */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add '...' for truncated text */
  color: var(--text2-color);
  text-transform: capitalize;
}

.item .price {
  font-weight: 600;
  color: var(--text2-color);
}

.item .image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: var(--bg-color);
}

.item .image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
  transition: all 0.5s ease;
}

.item .image:hover img {
  transform: scale(1.1);
}

.item .icon {
  font-size: 1.4em;
  width: 1.7em;
  height: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 50%;
  transition: all 0.5s ease;
}

.item .icon svg {
  color: var(--text-color);
}

.item .icon:hover {
  background-color: var(--accent2-color);
  color: var(--accent2-color);
}

.item .ctc {
  position: absolute;
  top: 6%;
  right: 4%;
  /* right: 0; */
  /* margin: 0 auto; */
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

@media (max-width: 999px) {
  .item {
    padding: 15px;
    font-size: 0.9rem;
  }

}

@media (max-width: 599px) {
  .details h5 {
    max-width: 17ch !important;
    font-size: 1.1em !important;
  }
}

@media (max-width: 499px) {
  .item {
    padding: .6rem !important;
  }
  .details h5 {
    max-width: 16ch !important;
    font-size: 1.1em !important;
  }
  .addtoCart {
    font-size: 0.8em !important;
  }
}

@media (max-width: 399px) {
  .item{
    font-size: .7rem;
  }
}

.addtoCart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border: 2px solid rgb(0,0,0,0.1);
}

.addtoCart svg {
  font-size: 1.2em;
  margin-bottom: 0.15em;
}

.remove {
  position: absolute;
  top: 3%;
  right: 3%;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  font-size: 1.3em;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s ease;
}

.remove:hover {
  background: rgba(255, 0, 0, 0.8);
  color: #fff;
}

.item {
  position: relative;
  /* background: #fff; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.details {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-size: 1em;
  width: 100%;
  gap: 0.3em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.details h5 {
  font-size: 1.3em;
  max-width: 22ch; /* Limit text width to 15 characters */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add '...' for truncated text */
  font-weight: bold;
  color: var(--text-color);
}

.details p {
  color: var(--text-color);
  font-size: 1.1em;
  font-weight: bold;
}

.details p:last-child {
  color: var(--text-color);
  font-size: 1em;
  text-decoration: line-through;
  font-weight: normal;
}

.not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 3em;
  font-weight: 400;
}

.not_found a {
  text-decoration: underline !important;
}
